NODE_ENV=production
PORT=10000
MONGO_URI=mongodb+srv://yourusername:yourpassword@cluster0.mongodb.net/saksham?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here_min_32_chars
CLOUDINARY_CLOUD_NAME=do4bcgwvl
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
REDIS_URL=redis://your-redis-url:6379
GOOGLE_GENERATIVE_AI_API_KEY=your_gemini_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
