.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffcf5;
  position: relative;
  min-height: 90vh;
  text-align: center;
  overflow: hidden;
}

.hero-text {
  font-family: "Brush Script MT", cursive;
  font-size: 5rem;
  line-height: 1.2;
  color: #000;
  margin-top: 80px;
}

.hero-button {
  background-color: #ff66d9;
  border: none;
  border-radius: 25px;
  padding: 12px 32px;
  color: #000;
  font-weight: bold;
  margin-top: 40px;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
}

.hero-button:hover {
  background-color: #ff80e6;
}

.hero-image-left {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 200px;
}

.hero-image-right {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 220px;
}

.hero-stars {
  position: absolute;
  bottom: 25%;
  right: 30%;
  width: 120px;
}
