@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdf8;
  padding: 1.2rem 4rem;
  font-family: "Poppins", sans-serif;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Noto Serif Devanagari", serif;
  color: #111;
}

.navbar-links {
  position: relative;
  display: flex;
  gap: 3rem;
  background-color: #f7f2f2;
  padding: 0.6rem 2rem;
  border-radius: 10px;
}

.navbar-links a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1rem;
}
.navbar-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #2e8b6d;
  transition: width 0.75s ease;
}

.navbar-links a:hover {
  transform: translateY(-3px) scale(1.05);
  color: #2e8b6d;
}
/* hover effect */
.navbar-links a:hover::after {
  width: 100%;
}

.get-started {
  background-color: #2e8b6d;
  color: white;
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.get-started:hover {
  background-color: #25755b;
}
